[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
djangorestframework = "*"
djangorestframework-xml = "*"
django-filter = "*"
djoser = "*"
install = "*"
djangorestframework-simplejwt = "~=5.2.1"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
